<!doctype html>
<html lang="en">
    <head>
        <title>
        </title>
    </head>
    <body>
        <main>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div>
                <button class="button">Create</button>
              </div>
            </form>
        </main>
    </body>
</html>