<!doctype html>
<html lang="en">
    <head>
        <title>
        </title>
        <nav>
        <li>
            <a href="{% url "todos_create" %}">Create List</a>
            <a href="{% url "todos_create" %}">Create Item</a>
        </li>
        </nav>
    </nav>
    </head>
<body>
<main>
    <form method="post">
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ recipe }}"?</p>
      {{ form.as_p }}
      <div class="control">
        <button class="button">Delete</button>
      </div>
    </form>
  </main>
</body>