<!doctype html>
<html lang="en">
    <head>
        <title>
        </title>
        <nav>
        <li>
            <a href="{% url "todos_list" %}">Back to List</a>
            <a href="{% url "todos_update" todolist.pk %}">Edit</a>
            <a href="{% url "todos_delete" todolist.id %}">Delete</a>
        </li>
        </nav>
    </nav>
    </head>
    <body>
        <p> {{todolist.name}} </p>
        <table>
        <thead>
             <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
        {% for list_item in todolist.items.all %}
            <tr>
                <td>
                    <a href="{% url "todos_item_update" list_item.id %}">{{list_item}}</a>
                </td>
                <td>
                    {{ list_item.due_date }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </body>
</html>