<!doctype html>
<html lang="en">
    <head>
        <title>
        </title>
        <nav>
        <li>
            <a href="{% url "todos_create" %}">Create List</a>
            <a href="{% url "todos_item_create" %}">Create Item</a>
        </li>
        </nav>
    </nav>
    </head>
    <body>
        <table>
        <thead>
             <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
        {% for list_name in todos_table %}
            <tr>
                <td>
                    <a href="{% url "todos_detail" list_name.id %}">{{list_name}}</a>
                </td>
                <td>
                    {{ list_name.items.all | length }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </body>
</html>